.reports-footer {
  background-color: #fafafa;
  position: relative;
}

.reports-footer a:hover {
  color: #8bc34a;
}

.reports-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}

.reports-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}

.reports-footer .mdl-mega-footer--bottom-section {
  position: relative;
}

.reports-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

.reports-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}
